{% extends 'dashboard/master.html' %}
{% block title %} Student Fee List {% endblock %}
{% block content %}
<div class="content container-fluid">
    <div class="single-page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Fee Collection List
                    <span style="float:right">
                        <a href="/students/fee-collection/" class="btn btn-success">Fee Collection Add</a>
                    </span>
                </h3>
            </div>
        </div>
    </div> 

    <div class="row">
        <div class="col-md-12">  
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Student</th>
                            <th>Student Id</th>
                            <th>Fee Head</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fee in student_fees %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">{{ fee.student_name.first_name }} {{ fee.student_name.last_name }}</a></td>
                            <td>{{ fee.student_name.student_id }}</td>
                            <td>{{ fee.fees_head.chart_name }}</td>
                            <td>{{ fee.fee_amount }}</td>
                            <td>{{ fee.created|date:"d m Y" }}</td>
                            <td>{{ fee.status}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
