{% extends 'dashboard/master.html' %}
{% block title %} Admin Dashboard  {% endblock %} 
{% load static %}
{% block content %}
	<div class="content container-fluid"> 
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Welcome Admin!</h3> 
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-primary border-primary">
								<i class="fe fe-users"></i>
							</span>
							<div class="dash-count">
								<h3>245</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<h6 class="text-muted">Students</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-primary w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-success">
								<i class="fe fe-money"></i>
							</span>
							<div class="dash-count">
								<h3>Tk. 78540.00</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							
							<h6 class="text-muted">Fee Collection</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-success w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-danger border-danger">
								<i class="fe fe-money"></i>
							</span>
							<div class="dash-count">
								<h3>Tk. 48532.00</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							
							<h6 class="text-muted">Expense</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-danger w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-warning border-warning">
								<i class="fe fe-folder"></i>
							</span>
							<div class="dash-count">
								<h3>Tk. 349875.00</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							
							<h6 class="text-muted">Due Amount</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-warning w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-6">
			
				<!-- Sales Chart -->
				<div class="card card-chart">
					<div class="card-header">
						<h4 class="card-title">Revenue</h4>
					</div>
					<div class="card-body">
						<div id="morrisArea"></div>
					</div>
				</div>
				<!-- /Sales Chart -->
				
			</div>
			<div class="col-md-12 col-lg-6">
			
				<!-- Invoice Chart -->
				<div class="card card-chart">
					<div class="card-header">
						<h4 class="card-title">Status</h4>
					</div>
					<div class="card-body">
						<div id="morrisLine"></div>
					</div>
				</div>
				<!-- /Invoice Chart -->
				
			</div>	
		</div>
			
		<div class="row">
			<div class="col-md-12">
			
				<!-- Recent Orders -->
				<div class="card card-table">
					<div class="card-header">
						<h4 class="card-title">Recent Transaction List</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>SL</th>
										<th>Transaction Head</th>
										<th>Transaction Type</th>
										<th class="text-right">Amount</th>
										<th>Status</th>
										<th>Date</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td> 01</td>
										<td>Fee Collection</td>
 										<td>9 Nov 2019 </td> 
										<td class="text-right">Tk. 7000.00 </td>
										<td>Paid</td>
										<td>5 Nov 2019</td>
									</tr>
									<tr>
										<td> 01</td>
										<td>Fee Collection</td>
 										<td>9 Nov 2019 </td> 
										<td class="text-right">Tk. 7000.00 </td>
										<td>Paid</td>
										<td>5 Nov 2019</td>
									</tr>
									<tr>
										<td> 01</td>
										<td>Fee Collection</td>
 										<td>9 Nov 2019 </td> 
										<td class="text-right">Tk. 7000.00 </td>
										<td>Paid</td>
										<td>5 Nov 2019</td>
									</tr>
									  
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->
				
			</div>
		</div>
		
	</div>			
{% endblock %}