{% extends 'dashboard/master.html' %}
{% block title %} User List {% endblock %}
{% load static %}
{% block content %}
  
<div class="content container-fluid"> 
    <!-- Page Header -->
    <div class="single-page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">User List
                    <span style="float:right">
                        <a href="/users/user-add/" class="btn btn-success">Add User</a>
                    </span>
                </h3> 
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="datatable table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>Photo</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Designation</th>
                                    <th>Status</th>
                                    <th class="text-center" style="width: 160px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2">
                                                <img class="avatar-img rounded-circle" src="{{ user.photo.url }}" alt="User Image">
                                            </a>
                                        </h2>
                                    </td>
                                    <td>{{ user.full_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.mobile }}</td>
                                    <td>{{ user.designation }}</td>
                                    <td>
                                        {% if user.status %}
                                            <span class="badge badge-success">Active</span>
                                        {% else %}
                                            <span class="badge badge-danger">Inactive</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <div class="actions">
                                            <a href="/" class="btn btn-sm bg-success-light">
                                                <i class="fe fe-pencil"></i> Edit
                                            </a>
                                            <a href="/users/user/{{user.pk}}/list/" class="btn btn-sm bg-danger-light" onclick="return confirm('Are you sure you want to delete this user?');">
                                                <i class="fe fe-trash"></i> Delete
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>			
    </div>
</div>

{% endblock %}
