{% extends 'dashboard/master.html' %}
{% block title %} Access Control Add {% endblock %} 
{% load static %}
{% block content %}

<style>
    .table-bordered tr th{vertical-align: middle;}
    .table-bordered tr td{vertical-align: middle;}
    .danger-color{color:rgb(165, 46, 46); text-align: center;}
    .success-color{color:rgb(9, 151, 57)}
</style>

<div class="content container-fluid"> 
    <!-- Page Header -->
    <!-- <div class="single-page-header"> -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Access Control Add
                    <span style="float:right">
                        <a href="/settings/access-control-list/" class="btn btn-success">Access Control List</a>
                    </span>
                </h3>   
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item">Settings</li>
                    <li class="breadcrumb-item active">Access Control Add</li>
                </ul> 
            </div> 
        </div> 
    </div>
    <!-- /Page Header -->
    
    <div class="row">  
        <div class="col-sm-12"> 
            <div class="card">
                <div class="card-body">
                    <form method="post"> {% csrf_token %}
                        <table class="table table-bordered" style="margin-bottom: 10px;">
                            <tr>
                                <th>User Name </th>
                                <th>
                                    <select class="form-control" name="user_name_id" required>
                                        <option value="">---Select---</option>
                                        {% for data in user_list %}
                                            {% if data.pk == user_name_id %}
                                                <option value="{{ data.pk }}" selected> {{ data.full_name }} </option>
                                            {% else %}
                                                <option value="{{ data.pk }}"> {{ data.full_name }} </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select> 
                                </th> 
                                <th>
                                    <input type="submit" class="btn btn-success" value="Search">
                                </th>
                            </tr>
                        </table>
                    </form>
                    
                    <table class="table table-bordered">
                        <tr style="background: #f5f5f5;">
                            <th>Module Name</th>
                            <th>Menu Name</th>
                            <th style="text-align: center;">Insert Action</th>
                            <th style="text-align: center;">View Action</th>
                            <th style="text-align: center;">Update Action</th>
                            <th style="text-align: center;">Delete Action</th>  
                        </tr>
                        {% for data in access_list %}
                        <tr>
                            <td>{{data.menu.module_name}}</td>
                            <td> {{data.menu.menu_name}} </td> 
                            <td style="text-align: center;"><input type="checkbox" name="insert_action" style="width:20px;height:20px;"></td> 
                            <td style="text-align: center;"><input type="checkbox" name="view_action" style="width:20px;height:20px"></td> 
                            <td style="text-align: center;"><input type="checkbox" name="update_action" style="width:20px;height:20px"></td> 
                            <td style="text-align: center;"><input type="checkbox" name="delete_action" style="width:20px;height:20px"></td> 
                        </tr>
                        {% endfor %} 
                        <tr>
                            <td colspan="5"></td>
                            <td><input type="submit" class="btn btn-success" value="Save Permission" name="save_permission"></td>
                        </tr>
                 
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>	
{% endblock %}