{% extends 'dashboard/master.html' %}
{% block title %} Chart Of Accounts {% endblock %} 
{% load static %}
{% block content %}
  
<div class="content container-fluid"> 
    <!-- Page Header -->
    <div class="single-page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Chart Of Accounts Add
                    <span style="float:right">
                        <a href="/settings/chart-of-accounts-list/" class="btn btn-success">Chart Of Accounts list</a>
                    </span>
                </h3> 
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    
    <div class="row">
        <div class="col-sm-8"> 
            <div class="card">
                <div class="card-body">
                    <form method="post"> {% csrf_token %}
                        <div class="form_group">
                            <label>Head Type</label>
                            <select name="head_types" class="form-control">
                                <option value="">---Select---</option>
                                <option value="income">Income</option>
                                <option value="expense">Expense</option>
                            </select>
                        </div>
                        <div class="form_group">
                            <label>Head Name</label>
                            <input type="text" class="form-control" name="head_name" placeholder="Enter Head Name" required>
                        </div>
                        <div class="form_group">
                            <label>Rank</label>
                            <input type="number" class="form-control" name="rank">
                        </div>
                        <div class="form_group"> 
                            <input type="submit" class="btn btn-success" value="Add Class">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>	
{% endblock %}