{% extends 'dashboard/master.html' %}
{% block title %} Students Fees List {% endblock %} 
{% load static %}
{% block content %}

<style>
    .table-bordered tr th{vertical-align: middle;}
</style>

<div class="content container-fluid"> 
    <!-- Page Header -->
    <!-- <div class="single-page-header"> -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Students Fees List
                    <span style="float:right">
                        <a href="/settings/students-fees-setup/" class="btn btn-success">Students Fees Setup</a>
                    </span>
                </h3>   
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item">Settings</li>
                    <li class="breadcrumb-item active">Students Fee Setup List</li>
                </ul> 
            </div> 
        </div> 
    </div>
    <!-- /Page Header -->
    
    <div class="row">  
        <div class="col-sm-11"> 
            <div class="card">
                <div class="card-body">
                    <form method="post"> {% csrf_token %}
                        <table class="table table-bordered" style="margin-bottom: 10px;">
                            <tr>
                                <th>Class</th>
                                <th>
                                    <select class="form-control" name="class_id" required> 
                                        <option value="">Select Class</option>
                                        {% for cls in class_list %}
                                            {% if cls.id == class_id %}
                                                <option value="{{ cls.id }}" selected>{{ cls.class_name }}</option>
                                            {% else %}
                                                <option value="{{ cls.id }}">{{ cls.class_name }}</option> 
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </th>
                                <th>Year</th>
                                <th>
                                    <select class="form-control" name="year" required> 
                                        <option value="">Select Year</option>
                                        {% for data in year_list %}
                                             {% if data == year %}
                                                <option value="{{ data }}" selected>{{ data }}</option>
                                            {% else %}
                                                <option value="{{ data }}">{{ data }}</option>
                                            {% endif %} 
                                        {% endfor %}
                                    </select>
                                </th>
                                <th>
                                    <input type="submit" class="btn btn-success" value="Search">
                                </th>
                            </tr>
                        </table>
                    </form>
                    
                    {% if data_list %}
                    <table class="table table-bordered">
                        <tr style="background: #f5f5f5;">
                            <th>Class</th>
                            <th>Year</th>
                            <th>Fees Type</th>
                            <th style="width: 200px;">Amount</th>
                            <th style="width: 165px;">Action</th>
                        </tr>
                        {% for data in data_list %}
                        <tr>
                            <td>{{data.class_name.class_name}}</td>
                            <td>{{data.year}}</td>
                            <td>{{data.fees_head.chart_name}}</td>
                            <td>Tk. {{data.amount}}</td>
                            <td class="text-center">
                                <div class="actions">
                                    <a class="btn btn-sm bg-success-light" data-toggle="modal" href="#edit_specialities_details">
                                        <i class="fe fe-pencil"></i> Edit
                                    </a>
                                    <a data-toggle="modal" href="#delete_modal" class="btn btn-sm bg-danger-light">
                                        <i class="fe fe-trash"></i> Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %} 
                    </table>
                    
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>	
{% endblock %}