{% extends 'dashboard/master.html' %}
{% block title %} Students Fees Setup {% endblock %} 
{% load static %}
{% block content %}

<style>
    #feesAmount{width:150px}
</style>

<div class="content container-fluid"> 
    <!-- Page Header -->
    <!-- <div class="single-page-header"> -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Students Fees Setup
                    <span style="float:right">
                        <a href="#" class="btn btn-success">Students Fees List</a>
                    </span>
                </h3>   
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item">Settings</li>
                    <li class="breadcrumb-item active">Students Fee Setup</li>
                </ul> 
            </div> 
        </div> 
    </div>
    <!-- /Page Header -->
    
    <div class="row">  
        <div class="col-sm-10"> 
            <div class="card">
                <div class="card-body">
                    <form method="post"> {% csrf_token %}
                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    <label for="">Class List</label>
                                    <select class="form-control" name="class"> 
                                        <option value="">Select Class</option>
                                        {% for cls in class_list %}
                                            <option value="{{ cls.id }}">{{ cls.class_name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <label for="">Year</label>
                                    <select class="form-control" name="year"> 
                                        <option value="">Select Year</option>
                                        {% for year in year_list %}
                                            <option value="{{ year }}">{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr> 
                                <th>Fees Type</th>
                                <th style="width: 200px;">Amount</th>
                            </tr>
                            {% for data in data_list %}
                            <tr>
                               
                                <td>{{ data.chart_name}}</td>
                                <td>
                                    <input type="number" class="form-control" id="feesAmount" name="fess_amount" value="0">
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="1"></td>
                                <td>
                                    <input type="submit" value="Save Fees" class="btn btn-success">
                                </td>
                            </tr>
                             
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>	
{% endblock %}